/*ACA EMPIEZA NOSOTROS.HTML MOBILE*/

.containernosotros__footer {

    height: 20vh;
    background: rgb(24, 1, 1);
    color: $blanco;
    margin-top: 8%;
.containernosotros__footer__logos img {
    width: 3%;

} }
    

/**************************************************************ACA EMPIEZA EL MEDIA DESKTOP**********************************************************/
/**************************************************************ACA EMPIEZA EL MEDIA DESKTOP**********************************************************/
/**************************************************************ACA EMPIEZA EL MEDIA DESKTOP**********************************************************/
/**************************************************************ACA EMPIEZA EL MEDIA DESKTOP**********************************************************/
/**************************************************************ACA EMPIEZA EL MEDIA DESKTOP**********************************************************/