/** ESTO ES PARA TORNEOS.HTML EN MOBILE**/

.containertorneo {

    display: grid;
    grid-template-columns: 0.5fr 2fr;
    grid-template-rows: 0.5fr 2fr 0.5fr;
    grid-template-areas: 
    "aside header"
    "aside main"
    "footer footer";
    gap: 6px;
    
}

.containertorneo__main{

    grid-area: main;
    color: white; }

.containertorneo__main__div {
    font-family:monospace;
    font-size: 0.6rem;
}

.containertorneo__main iframe {

    width: 100%;
}
    
.containertorneo__aside {

    grid-area: aside;
    background: rgb(19, 13, 56) ;  
    color: rgb(143, 56, 138);
    height: 95%;
}

.containertorneo__aside--texto {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-size: 0.75rem;
}

.containertorneo__footer {
    
    grid-area: footer;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "texto redes";
    color: wheat; 
    background: rgb(24, 1, 1);
    margin-top: 3%;
}

.containertorneo__footer__registro {

    grid-area: texto; }
    
.containertorneo__footer__registro h6 {

    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}

.containertorneo__footer__logos {

    grid-area: redes;
    padding-top: 20%; }
    
.containertorneo__footer__logos img {

    width: 12%;
    margin-left: 85%;
}

/** ESTO ES PARA TORNEOS.HTML DESKTOP ***/

@media screen and (min-width:576px) {


    .containertorneo {

        overflow-x: hidden;
        display: grid;
        grid-template-columns: 0.5fr 4fr;
        grid-template-rows: 0.5fr 1.5fr 0.5fr;
        grid-template-areas: 
        "aside header"
        "aside main"
        "footer footer";
        gap: 6px;  
        
    }
    
    
.containertorneo__main{

    grid-area: main;
    color: white;
    display: flex; }
.containertorneo__main iframe {

    width: 70%;
    height:100%; }
.containertorneo__main__div {
    font-size: larger;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 30%; }
    
.containertorneo__aside {
    height: 100%;
    grid-area: aside;
    background: rgb(19, 13, 56);
    display: flex;
    justify-content: center;
    align-items: center;  
}

.containertorneo__footer {

    background: rgb(24, 1, 1);
    display: flex;
    flex-direction: column;
    margin-top: 5%;

.containertorneo__footer__logos {
    padding-top: 0%;}

.containertorneo__footer__logos img {
    margin-left: 48%; 
    width: 2%;   }


.containertorneo__footer__registro {
    display: flex;
    align-items: center;
    justify-content: center; 
    padding-top: 1%; }
}


}